{% extends "school/layout.html" %}
{% load static %}
{% block body %}
{% if favourite %}
        <div class="row mx-auto">
        {% for school in favourite %}
        <div class="card mx-auto cardStyle">
            {% if school.image_url %}
              <img class="card-img-top imgStyle" src="{{ school.image_url }}" alt="Image">
            {% else %}
              <img class="card-img-top imgStyle" src="{% static 'nophoto.png' %}" alt="nophoto">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{school.title}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent">{{school.short_description}}</li>
                <li class="list-group-item bg-transparent"><b> LOCATION: </b>{{school.location}}</li>
                <li class="list-group-item bg-transparent"><b>Acceptance rate: </b>{{school.accrate}}</li>
            </ul>
            <form method="GET" action="{% url 'singlecollege' school.id %}">
            <input class="btn boton" type="submit" value="See more">
            </form>
            </div>
          </div>
        {% endfor %}
        </div>  
{% else %}
<h2>You still don't have added any schools to yourl college list</h2>
<h2><a class="navItem" href="{% url 'index' %}">Change it now!</a></h2> 
{% endif %}




{% endblock %}